@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
	Arial, sans-serif;
	margin: 0;
	max-width: 1fr;
	padding: 0;

	background-color: rgb(5, 4, 5);
	color: rgb(255, 255, 255);
}

.nav-bar {
	display: grid;
	grid-template-rows: 30px;
	grid-template-columns: 1fr 1fr 1fr;

	margin-bottom: 50px;

	justify-content: center;
	justify-items: center;
	align-items: center;

	border-color: rgba(255, 0, 0, 0);
	background-color: rgba(32, 32, 36, 0.212);
}

.nav-bar a {
	display: flex;
	padding: 30px;
	text-decoration: none;
}

.projects-list {
	display: grid;
	justify-content: center;
	justify-items: center;
}

h1 {
	font-family: "Inconsolata", monospace;
	font-weight: 400;
	font-size: 30px;
	font-style: normal;
	text-align: center;

	transition: scale 400ms;
}

a {
	display: flex;

	font-family: "Inconsolata", monospace;
	font-weight: 400;
	font-size: 20px;
	font-style: normal;

	text-align: center;

	transition: scale 300ms, color 300ms;
}

.projects-list a {
	margin-bottom: 20px;
}

.bar-element1 {
	vertical-align: middle;
	grid-row: 0 / 0;
	grid-column: 1 / 1;
}

.bar-element2 {
	grid-row: 0 / 0;
	grid-column: 2 / 2;
}

.bar-element3 {
	grid-row: 0 / 0;
	grid-column: 3 / 3;
}

span {
color: rgb(102, 255, 255);
}

a:link {
	color: rgb(255, 255, 255);
}

/* visited link */
a:visited {
  color: rgb(255, 255, 255);
}

/* mouse over link */
a:hover {
  color: rgb(94, 255, 0);
}

/* selected link */
a:active {
  color: rgb(255, 255, 255);
} 

a:hover, h1:hover {
scale: 110%;
}

img {
display: block;
object-fit: contain;
max-width: 100%;
height: auto;

transition: transform 400ms;
}

img:hover {
transform: scale(0.96);
}