@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
	Arial, sans-serif;
	margin: 0;
	max-width: 1fr;
	padding: 0;
	background-color: #010003;
	color: rgb(255, 255, 255);
	overflow: hidden;
}

body::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
  background-repeat: repeat;
  background-size: 182px;
  opacity: 0.05;
  pointer-events: none;
  z-index: -1;
}

.contact {
	display: grid;
	grid-template-rows: 30px 30px;
	grid-template-columns: 50px 50px;
	
	margin-bottom: 20px;

	justify-content: center;
	justify-items: center;
	align-items: center;

	border-color: rgba(255, 255, 255, 0);
	background-color: rgba(32, 32, 36, 0);
}

a {
	margin-bottom: 6px;
}

#email {
	display: block;
	justify-content: center;
	justify-items: center;
	align-items: center;
}

.nav-bar {
	display: grid;
	grid-template-rows: 30px;
	grid-template-columns: 1fr 1fr 1fr;

	margin-bottom: 50px;

	justify-content: center;
	justify-items: center;
	align-items: center;

	border-color: rgba(255, 0, 0, 0);
	background-color: rgba(32, 32, 36, 0.212);
}

.nav-bar a {
	display: flex;
	padding: 15px;
	text-decoration: none;
}

.projects-list {
	display: grid;
	justify-content: center;
	justify-items: center;
}

.centered {
	display: grid;
	justify-content: center;
	justify-items: center;
}

.about-me {
  margin-bottom: 20px;
}

h1 {
	font-family: "Inconsolata", monospace;
	font-weight: 400;
	font-size: 30px;
	font-style: normal;
	text-align: center;

	margin-top: 40px;

	transition: scale 400ms;
}

h2 {
	font-family: "Inconsolata", monospace;
	font-weight: 400;
	font-size: 20px;
	font-style: normal;
	text-align: center;

	transition: scale 400ms;
}

a {
	display: flex;

	font-family: "Inconsolata", monospace;
	font-weight: 400;
	font-size: 20px;
	font-style: normal;

	text-align: center;

	transition: scale 300ms, color 300ms;
}

.projects-list a {
	margin-bottom: 20px;
}

.bar-element1 {
	grid-row: 0 / 0;
	grid-column: 1 / 1;
}

.bar-element2 {
	grid-row: 0 / 0;
	grid-column: 2 / 2;
}

.bar-element3 {
	grid-row: 0 / 0;
	grid-column: 3 / 3;
}

span {
color: rgb(102, 255, 255);
}

a:link {
	color: rgb(255, 255, 255);
}

/* visited link */
a:visited {
  color: rgb(255, 255, 255);
}

/* mouse over link */
a:hover {
  color: rgb(94, 255, 0);
}

/* selected link */
a:active {
  color: rgb(255, 255, 255);
} 

h1:hover {
	scale: 110%;
}

a:hover {
	scale: 104%;
}

img {
	display: flex;
	object-fit: contain;
	max-width: 30px;
	height: auto;

	margin: 20px;

	transition: transform 200ms ease;
}

img:hover {
	transform: scale(1.12);
}

.title-wrap {
  overflow: hidden;
}